// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 70, 70);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
    @media(max-width:1000px){
        margin-right: -100rem;
    }

}
