// COLORS
$color-white: rgb(255, 255, 255);
$color-back-header: rgb(233, 233, 233);


// MEDIA QUERY
$wide-screen:1600px;
$mid-screen:1400px;

$wide-tablet:1200px;
$mid-tablet:1000px;
$thin-tablet:900px;

$wide-phone:700px;
$mid-phone:600px;
$thin-phone:500px;